In [1]:
import pandas as pd
import datetime
import numpy as np
import os
import glob, os

In [2]:
file_2013_MaySep = os.path.join("Resources" ,"2013_MaySep.csv")
file_2013_OctDec = os.path.join("Resources" ,"2013_OctDec.csv")
file_2014_JanMar = os.path.join("Resources" ,"2014_JanMar.csv")
file_2014_AprJun = os.path.join("Resources" ,"2014_AprJun.csv")
file_2014_JulSep = os.path.join("Resources" ,"2014_JulSep.csv")
file_2014_OctDec = os.path.join("Resources" ,"2014_OctDec.csv")
file_2015_JanMar = os.path.join("Resources" ,"2015_JanMar.csv")
file_2015_AprJun = os.path.join("Resources" ,"2015_AprJun.csv")
file_2015_JulSep = os.path.join("Resources" ,"2015_JulSep.csv")
file_2015_OctDec = os.path.join("Resources" ,"2015_OctDec.csv")
file_2016_JanMar = os.path.join("Resources" ,"2016_JanMar.csv")
file_2016_AprJun = os.path.join("Resources" ,"2016_AprJun.csv")
file_2016_JulSep = os.path.join("Resources" ,"2016_JulSep.csv")
file_2016_OctDec = os.path.join("Resources" ,"2016_OctDec.csv")
file_2017_JanMar = os.path.join("Resources" ,"2017_JanMar.csv")
file_2017_AprJun = os.path.join("Resources" ,"2017_AprJun.csv")
file_2017_JulSep = os.path.join("Resources" ,"2017_JulSep.csv")
file_2017_OctDec = os.path.join("Resources" ,"2017_OctDec.csv")
file_2018_JanMar = os.path.join("Resources" ,"2018_JanMar.csv")
file_2018_AprJun = os.path.join("Resources" ,"2018_AprJun.csv")
file_2018_JulSep = os.path.join("Resources" ,"2018_JulSep.csv")
file_2018_OctDec = os.path.join("Resources" ,"2018_OctDec.csv")
file_2019_JanMar = os.path.join("Resources" ,"2019_JanMar.csv")

In [3]:
Data_2013Q23 = pd.read_csv(file_2013_MaySep)
Data_2013Q4 = pd.read_csv(file_2013_OctDec)
Data_2014Q1 = pd.read_csv(file_2014_JanMar)
Data_2014Q2 = pd.read_csv(file_2014_AprJun)
Data_2014Q3 = pd.read_csv(file_2014_JulSep)
Data_2014Q4 = pd.read_csv(file_2014_OctDec)
Data_2015Q1 = pd.read_csv(file_2015_JanMar)
Data_2015Q2 = pd.read_csv(file_2015_AprJun)
Data_2015Q3 = pd.read_csv(file_2015_JulSep)
Data_2015Q4 = pd.read_csv(file_2015_OctDec)
Data_2016Q1 = pd.read_csv(file_2016_JanMar)
Data_2016Q2 = pd.read_csv(file_2016_AprJun)
Data_2016Q3 = pd.read_csv(file_2016_JulSep)
Data_2016Q4 = pd.read_csv(file_2016_OctDec)
Data_2017Q1 = pd.read_csv(file_2017_JanMar)
Data_2017Q2 = pd.read_csv(file_2017_AprJun)
Data_2017Q3 = pd.read_csv(file_2017_JulSep)
Data_2017Q4 = pd.read_csv(file_2017_OctDec)
Data_2018Q1 = pd.read_csv(file_2018_JanMar)
Data_2018Q2 = pd.read_csv(file_2018_AprJun)
Data_2018Q3 = pd.read_csv(file_2018_JulSep)
Data_2018Q4 = pd.read_csv(file_2018_OctDec)
Data_2019Q1 = pd.read_csv(file_2019_JanMar)

In [4]:

CitibikeData_2013 = pd.concat([Data_2013Q23,Data_2013Q4],sort=False)
CitibikeData_2014 = pd.concat([Data_2014Q1,Data_2014Q2,Data_2014Q3,Data_2014Q4],sort=False)
CitibikeData_2015 = pd.concat([Data_2015Q1,Data_2015Q2,Data_2015Q3,Data_2015Q4],sort=False)
CitibikeData_2016 = pd.concat([Data_2016Q1,Data_2016Q2,Data_2016Q3,Data_2016Q4],sort=False)
CitibikeData_2017 = pd.concat([Data_2017Q1,Data_2017Q2,Data_2017Q3,Data_2017Q4],sort=False)
CitibikeData_2018 = pd.concat([Data_2018Q1,Data_2018Q2,Data_2018Q3,Data_2018Q4],sort=False)
CitibikeData_2019 = pd.concat([Data_2019Q1],sort=False)

In [5]:
files = glob.glob('Resources/*.csv')
dfs = [pd.read_csv(fp) for fp in files]
CitibikeData_ALL = pd.concat(dfs,sort=False)
CitibikeData_ALL.head(2118)

,Date,Trips over the past 24-hours (midnight to 11:59pm),Cumulative trips (since launch):,Miles traveled today (midnight to 11:59 pm),Miles traveled to date:,Total Annual Members,Annual Member Sign-Ups (midnight to 11:59 pm),24-Hour Passes Purchased (midnight to 11:59 pm),7-Day Passes Purchased (midnight to 11:59 pm),24-Hour Passes Purchased (midnight to 11:59 pm) 7-Day Passes Purchased (midnight to 11:59 pm),Total Annual Memberships Sold,Cumulative trips (since launch),Miles traveled to date,Total Annual Members (All Time),3-Day Passes Purchased (midnight to 11:59 pm)
0,5/27/2013,9767,9767,21.533,"21,533",17216.0,2043,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,5/28/2013,5215,14982,8.780,"30,313",19816.0,2598,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,5/29/2013,10981,25963,21.898,"52,211",21986.0,2167,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,5/30/2013,9850,35813,20.321,"72,532",23985.0,1998,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,5/31/2013,9253,45066,20.243,"92,775",25615.0,1630,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5,6/1/2013,9852,54918,26.347,"119,122",26756.0,1141,0,0,NaN,NaN,NaN,NaN,NaN,NaN
6,6/2/2013,17590,72508,52.143,"171,266",28253.0,1496,4723,289,NaN,NaN,NaN,NaN,NaN,NaN
7,6/3/2013,8599,81107,18.907,"190,173",29616.0,1363,1160,221,NaN,NaN,NaN,NaN,NaN,NaN
8,6/4/2013,17589,98696,48.666,"238,839",31095.0,1479,2922,394,NaN,NaN,NaN,NaN,NaN,NaN
9,6/5/2013,17433,116129,44.917,"283,757",32620.0,1530,2821,279,NaN,NaN,NaN,NaN,NaN,NaN
10,6/6/2013,13732,129861,30.987,"314,743",33954.0,1334,1872,210,NaN,NaN,NaN,NaN,NaN,NaN
11,6/7/2013,1393,131254,2.065,"316,809",34449.0,495,66,11,NaN,NaN,NaN,NaN,NaN,NaN
12,6/8/2013,19899,151153,54.665,"371,473",35233.0,784,5013,230,NaN,NaN,NaN,NaN,NaN,NaN
13,6/9/2013,23236,174389,71.604,"443,077",36295.0,1062,5772,275,NaN,NaN,NaN,NaN,NaN,NaN
14,6/10/2013,4504,178893,10.138,"453,215",37086.0,791,290,82,NaN,NaN,NaN,NaN,NaN,NaN
15,6/11/2013,14638,193531,34.630,"487,845",37894.0,808,1836,273,NaN,NaN,NaN,NaN,NaN,NaN
16,6/12/2013,18960,212491,45.714,"533,559",38805.0,911,2767,316,NaN,NaN,NaN,NaN,NaN,NaN
17,6/13/2013,8782,221273,15.075,"548,634",39442.0,637,701,119,NaN,NaN,NaN,NaN,NaN,NaN
18,6/14/2013,16423,237696,33.980,"582,614",40078.0,636,2268,211,NaN,NaN,NaN,NaN,NaN,NaN
19,6/15/2013,27276,264972,72.792,"655,406",40702.0,624,6107,319,NaN,NaN,NaN,NaN,NaN,NaN
20,6/16/2013,23610,288582,59.573,"714,979",41541.0,839,4413,314,NaN,NaN,NaN,NaN,NaN,NaN
21,6/17/2013,21278,309860,43.897,"758,876",42564.0,1023,2378,530,NaN,NaN,NaN,NaN,NaN,NaN
22,6/18/2013,14826,324686,27.670,"786,546",43394.0,830,1236,277,NaN,NaN,NaN,NaN,NaN,NaN
23,6/19/2013,26267,350953,54.405,"840,951",44223.0,829,2678,607,NaN,NaN,NaN,NaN,NaN,NaN
24,6/20/2013,28994,379947,59.935,"900,886",45024.0,801,2814,421,NaN,NaN,NaN,NaN,NaN,NaN
25,6/21/2013,30660,410607,64.872,"965,759",45815.0,791,3465,408,NaN,NaN,NaN,NaN,NaN,NaN
26,6/22/2013,31885,442492,80.433,"1,046,191",46448.0,633,5902,383,NaN,NaN,NaN,NaN,NaN,NaN
27,6/23/2013,30653,473145,76.450,"1,122,641",47203.0,755,4959,279,NaN,NaN,NaN,NaN,NaN,NaN
28,6/24/2013,26636,499781,50.664,"1,173,305",48135.0,932,1844,386,NaN,NaN,NaN,NaN,NaN,NaN
29,6/25/2013,30426,530207,56.075,"1,229,380",48915.0,780,1937,343,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43,2/13/2019,35523,NaN,48870.000,NaN,NaN,NaN,439,NaN,NaN,NaN,NaN,NaN,299551.0,21.0
44,2/14/2019,42313,NaN,61381.000,NaN,NaN,NaN,773,NaN,NaN,NaN,NaN,NaN,299589.0,26.0
45,2/15/2019,47524,NaN,74286.000,NaN,NaN,NaN,1590,NaN,NaN,NaN,NaN,NaN,299633.0,58.0
46,2/16/2019,31347,NaN,52760.000,NaN,NaN,NaN,2030,NaN,NaN,NaN,NaN,NaN,299683.0,58.0
47,2/17/2019,24287,NaN,39660.000,NaN,NaN,NaN,1439,NaN,NaN,NaN,NaN,NaN,299711.0,30.0
48,2/18/2019,26176,NaN,37500.000,NaN,NaN,NaN,810,NaN,NaN,NaN,NaN,NaN,299757.0,17.0
49,2/19/2019,35226,NaN,49024.000,NaN,NaN,NaN,595,NaN,NaN,NaN,NaN,NaN,299810.0,10.0
50,2/20/2019,20694,NaN,28763.000,NaN,NaN,NaN,221,NaN,NaN,NaN,NaN,NaN,299835.0,15.0
51,2/21/2019,40082,NaN,60375.000,NaN,NaN,NaN,961,NaN,NaN,NaN,NaN,NaN,299871.0,37.0
52,2/22/2019,42338,NaN,61956.000,NaN,NaN,NaN,1097,NaN,NaN,NaN,NaN,NaN,299913.0,49.0
53,2/23/2019,31956,NaN,49887.000,NaN,NaN,NaN,1635,NaN,NaN,NaN,NaN,NaN,299956.0,28.0
54,2/24/2019,24503,NaN,37473.000,NaN,NaN,NaN,992,NaN,NaN,NaN,NaN,NaN,299993.0,19.0
55,2/25/2019,34736,NaN,47207.000,NaN,NaN,NaN,495,NaN,NaN,NaN,NaN,NaN,300029.0,14.0
56,2/26/2019,38126,NaN,52805.000,NaN,NaN,NaN,524,NaN,NaN,NaN,NaN,NaN,300067.0,23.0
57,2/27/2019,37028,NaN,48666.000,NaN,NaN,NaN,464,NaN,NaN,NaN,NaN,NaN,300097.0,27.0
58,2/28/2019,38784,NaN,53031.000,NaN,NaN,NaN,652,NaN,NaN,NaN,NaN,NaN,300157.0,30.0
59,3/1/2019,30242,NaN,41583.000,NaN,NaN,NaN,522,NaN,NaN,NaN,NaN,NaN,300183.0,26.0
60,3/2/2019,18001,NaN,27381.000,NaN,NaN,NaN,570,NaN,NaN,NaN,NaN,NaN,300213.0,25.0
61,3/3/2019,23240,NaN,35764.000,NaN,NaN,NaN,1115,NaN,NaN,NaN,NaN,NaN,300264.0,22.0
62,3/4/2019,28424,NaN,39154.000,NaN,NaN,NaN,563,NaN,NaN,NaN,NaN,NaN,300319.0,23.0
63,3/5/2019,37103,NaN,50155.000,NaN,NaN,NaN,552,NaN,NaN,NaN,NaN,NaN,300367.0,24.0
64,3/6/2019,33287,NaN,42845.000,NaN,NaN,NaN,376,NaN,NaN,NaN,NaN,NaN,300409.0,27.0
65,3/7/2019,35913,NaN,46582.000,NaN,NaN,NaN,468,NaN,NaN,NaN,NaN,NaN,300450.0,15.0
66,3/8/2019,40416,NaN,55748.000,NaN,NaN,NaN,852,NaN,NaN,NaN,NaN,NaN,300503.0,32.0
67,3/9/2019,38929,NaN,68739.000,NaN,NaN,NaN,3010,NaN,NaN,NaN,NaN,NaN,300574.0,35.0
68,3/10/2019,18897,NaN,28056.000,NaN,NaN,NaN,662,NaN,NaN,NaN,NaN,NaN,300611.0,16.0
69,3/11/2019,52412,NaN,80705.000,NaN,NaN,NaN,1749,NaN,NaN,NaN,NaN,NaN,300691.0,56.0
70,3/12/2019,47214,NaN,66518.000,NaN,NaN,NaN,1003,NaN,NaN,NaN,NaN,NaN,300757.0,40.0
71,3/13/2019,50121,NaN,71552.000,NaN,NaN,NaN,1194,NaN,NaN,NaN,NaN,NaN,300825.0,42.0
72,3/14/2019,57464,NaN,86864.000,NaN,NaN,NaN,1826,NaN,NaN,NaN,NaN,NaN,300904.0,82.0

In [6]:
CitibikeData_ALL.describe()
CitibikeData_ALL.to_csv('CitibikeData_ALL.csv')

In [7]:
CitibikeData_2013.head(219)
CitibikeData_2013.to_csv('CitibikeData_2013.csv')

In [8]:
CitibikeData_2014.head(365)
CitibikeData_2014.to_csv('CitibikeData_2014.csv')

In [9]:
CitibikeData_2015.head(365)
CitibikeData_2015.to_csv('CitibikeData_2015.csv')

In [10]:
CitibikeData_2016.head(366)
CitibikeData_2016.to_csv('CitibikeData_2016.csv')

In [11]:
CitibikeData_2017.head(365)
CitibikeData_2017.to_csv('CitibikeData_2017.csv')

In [12]:
CitibikeData_2018.head(365)
CitibikeData_2018.to_csv('CitibikeData_2018.csv')

In [13]:
CitibikeData_2019.head(73)
CitibikeData_2019.to_csv('CitibikeData_2019.csv')

In [5]:
tripfiles = glob.glob('Resources/Trips/*.csv')
trip_dfs = [pd.read_csv(fp) for fp in tripfiles]
CititripData_2018 = pd.concat(trip_dfs,sort=False)

In [6]:
CititripData_2018.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72.0,W 52 St & 11 Ave,40.767272,-73.993929,505.0,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3255.0,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72.0,W 52 St & 11 Ave,40.767272,-73.993929,525.0,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1
3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72.0,W 52 St & 11 Ave,40.767272,-73.993929,447.0,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1
4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1

In [16]:
CititripData_2018.to_csv('CititripData_2018.csv')

In [7]:
CititripData_2018.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,1.194388e+07,1.194299e+07,1.194388e+07,1.194388e+07,1.194299e+07,1.194388e+07,1.194388e+07,1.194388e+07,1.194388e+07,1.194388e+07
mean,9.356075e+02,1.220109e+03,4.073627e+01,-7.398500e+01,1.442161e+03,4.073631e+01,-7.398469e+01,2.661921e+04,1.978887e+03,1.149683e+00
std,1.856057e+04,1.319170e+03,2.958349e-02,1.756079e-02,1.404423e+03,3.008884e-02,1.802164e-02,6.219063e+03,1.202138e+01,5.319050e-01
min,6.100000e+01,7.200000e+01,4.064654e+01,-7.402535e+01,7.200000e+01,4.064654e+01,-7.408364e+01,1.452900e+04,1.885000e+03,0.000000e+00
25%,3.540000e+02,3.470000e+02,4.071775e+01,-7.399683e+01,3.620000e+02,4.071850e+01,-7.399704e+01,2.033900e+04,1.969000e+03,1.000000e+00
50%,5.920000e+02,4.690000e+02,4.073705e+01,-7.398788e+01,4.920000e+02,4.073705e+01,-7.398765e+01,2.836900e+04,1.981000e+03,1.000000e+00
75%,1.025000e+03,3.096000e+03,4.075500e+01,-7.397649e+01,3.169000e+03,4.075500e+01,-7.397634e+01,3.192300e+04,1.989000e+03,1.000000e+00
max,1.951005e+07,3.721000e+03,4.550636e+01,-7.356891e+01,3.721000e+03,4.550636e+01,-7.356891e+01,3.583100e+04,2.002000e+03,2.000000e+00